* {
    margin: 0;
    padding: 0;
}

body{
    text-align: centre;
}

h1{
    color: black;
    text-align: center;
}

.choices {
    height:70px;
    width: 70px;
}

.game {
    display: flex;
    max-height:100px;
    top:75px;
   gap: 90px;
   align-items: flex-start;
   position: absolute;
}  

.container {
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}