h1 {
      color:blue;
      background-color: yellow;
}

body{
    background-color: pink;
}

button{
    background-color: blue;
    color: white;
}

#box1{
    height:100px;
    width:100px;
    background-color: rgb(61, 61, 177);
    color:white;
    border:2px solid black;
}
/* style using id */
#heading{
    color:blueviolet;
}

/*style using class */
.heading2{
    color:blue;
      background-color: yellow;
}