h1 {
      color:blue;
      background-color: yellow;
}

body{
    background-color: pink;
}

button{
    background-color: blue;
    color: white;
}

/* style using id */
#heading{
    color:blueviolet;
}

/*style using class */
.heading2{
    color:blue;
      background-color: yellow;
}